In [9]:
import pandas as pd
from sqlalchemy import create_engine
from string import digits
import numpy as np
import os
import nltk
import string
from nltk.corpus import stopwords  
from nltk.tokenize import word_tokenize  
from sklearn.feature_extraction.text import TfidfVectorizer
from collections import defaultdict
from nltk.probability import FreqDist, DictionaryProbDist, ELEProbDist, sum_logs
from nltk.classify.api import ClassifierI

In [10]:
# from nltk.corpus import brown
# brown.words()

In [11]:
csv1 = "./indeed_job_dataset_jds_v2.csv"
# csv2 = "./indeed_job_dataset_V5_CSV.csv"
df1 = pd.read_csv(csv1, encoding = 'unicode_escape')
# df2 = pd.read_csv(csv2)
df1.head()
# df2.head()

,Index_No,Job_Title,Link,Queried_Salary,Job_Type,Skill,Description
0,0,Data Scientist,https://www.indeed.com/rc/clk?jk=6a105f495c36a...,<80000,data_scientist,"['SAP', 'SQL']","[POSITION SUMMARY, \r\r\nThe Business Analyst ..."
1,1,Data Scientist,https://www.indeed.com/rc/clk?jk=86afd561ea8c6...,<80000,data_scientist,"['Machine Learning', 'R', 'SAS', 'SQL', 'Python']","[What do we need?, \r\r\nYou to have an amazin..."
2,2,Data Scientist,https://www.indeed.com/rc/clk?jk=e0aad317e6d45...,<80000,data_scientist,"['Data Mining', 'Data Management', 'R', 'SAS',...","[Validate, analyze, and conduct statistical an..."
3,3,Graduate Studies Program - Data Scientist,https://www.indeed.com/rc/clk?jk=1cfdd9e391a63...,<80000,data_scientist,['Certified Internal Auditor'],"[Full time, Washington, DC metro area, Startin..."
4,4,Data Scientist I,https://www.indeed.com/rc/clk?jk=fec647775a21e...,<80000,data_scientist,"['Statistical Software', 'Time Management', 'R...",[Assist in consultations with business partner...

In [12]:
df = df1[['Job_Type', 'Description']]
df.head()

         Job_Type                                        Description
0  data_scientist  [POSITION SUMMARY, \r\r\nThe Business Analyst ...
1  data_scientist  [What do we need?, \r\r\nYou to have an amazin...
2  data_scientist  [Validate, analyze, and conduct statistical an...
3  data_scientist  [Full time, Washington, DC metro area, Startin...
4  data_scientist  [Assist in consultations with business partner...

In [ ]:
# Combine the data into a single dataset.  
# df = pd.merge(df1, df2, how="left", on=["Index_No"])
# df.head()

In [7]:
# df3 = df1[['Job_Type', 'Description']]
# df3.head()

KeyError: "['Job_Type'] not in index"

In [ ]:
# df3.to_csv('df3.csv')
# df.describe()
# df.dtypes
# len(df3['Description'])

In [14]:
# df3=df3['Description'].replace('', nan_value, inplace=True)
# df3=df3.dropna(subset=['Description'], inplace=True)

df['Description'].dropna(inplace=True)

len(df['Description'])

/Users/williammdavis/opt/anaconda3/lib/python3.7/site-packages/pandas/core/series.py:4494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(result)

5413

In [10]:
# import re
# def cleanhtml(raw_html):
#   cleanr = re.compile('<.*?>')
#   cleantext = re.sub(cleanr, '', df3['Description'])
#   return cleantext

In [ ]:

stopwords = nltk.corpus.stopwords.words('english')

# new_words=('<p>','</p>', '<b>', '</b>','<li>','</li>', '<ul>', '</ul>')
# stopwords1 = nltk.corpus.stopwords.words('english')
# stopwords1.append(new_words)
# print(stopwords1)

In [ ]:
# def process_text(text):
#              clean_words = [word for word in text if word.lower() not in stopwords1]
#              return clean_words
# df3['Description'].head().apply(process_text)

In [13]:
def process_text(text):
    nopunc = [char for char in text if char not in string.punctuation]
    nopunc = ''.join(nopunc)
    clean_words = [word for word in nopunc.split() if word.lower() not in stopwords.words('english')]
    return clean_words
df3['Description'].head().apply(process_text)

0    [POSITION, SUMMARY, Business, Analyst, role, p...
1    [need, amazing, personality, communication, st...
2    [Validate, analyze, conduct, statistical, anal...
3    [Full, time, Washington, DC, metro, area, Star...
4    [Assist, consultations, business, partners, in...
Name: Description, dtype: object

In [ ]:
example_sent = """This is a sample sentence, 
                  showing off the stop words filtration."""

jds = df3['Description']  

stop_words = set(stopwords.words('english'))

In [ ]:
word_tokens = word_tokenize(example_sent)
# word_tokens = word_tokenize(jds)

In [ ]:
filtered_sentence = [w for w in word_tokens if not w in stop_words]  
filtered_sentence = []  
  
for w in word_tokens:  
    if w not in stop_words:  
        filtered_sentence.append(w)  
  
print(word_tokens)  
print(filtered_sentence)

In [ ]:
filtered_sentence1 = [w for w in jds if not w in stop_words]  
filtered_sentence1 = [] 

for w in jds:  
    if w not in stop_words:  
        filtered_sentence1.append(w)  
  
print(jds)  
print(filtered_sentence1)

In [ ]:
# class NaiveBayesClassifier(ClassifierI):